@tailwind base;
@tailwind components;
@tailwind utilities;

.backdrop {
  @apply pointer-events-none fixed inset-0 z-40 bg-black/80 opacity-0 backdrop-blur-sm transition-opacity duration-500;
}

.aside-l {
  transition-property: transform, width;

  @apply fixed z-[1000] h-full w-full flex-none -translate-x-full overflow-y-auto border-e border-border bg-background p-3 duration-300 ease-in-out md:w-64 lg:translate-x-0 xl:w-56 xl:pl-0;
}

.aside-l .nav {
  @apply space-y-1;
}

.aside-l .item {
  @apply inline-flex items-center gap-4 rounded-full p-3 text-accent-foreground hover:bg-accent;
}

.aside-l .item.primary {
  @apply bg-primary text-primary-foreground hover:bg-primary/80;
}

.aside-l .item .text {
  @apply mr-4 text-xl lg:hidden xl:inline;
}

.main {
  @apply flex-1 lg:ml-64 xl:ml-56;
}

.topbar {
  @apply sticky top-0 z-20 flex h-14 items-center border-b border-border bg-background/80 px-4 text-foreground backdrop-blur-sm lg:hidden;
}

.bottombar {
  @apply fixed bottom-0 left-0 z-40 h-14 w-full border-t border-border bg-background/80 text-foreground backdrop-blur-sm lg:hidden;
}

.bottombar > .wrapper {
  @apply mx-auto grid h-full max-w-lg grid-cols-5 divide-x divide-border border-border font-medium md:border-e md:border-s;
}

.bottombar > .wrapper .item {
  @apply m-1 mr-0 inline-flex flex-col items-center justify-center;
}

.bottombar > .wrapper .icon {
  @apply mb-2 h-6 w-6;
}

.bottombar > .wrapper .text {
  @apply text-xs md:text-sm;
}

.bottombar > .wrapper .dot {
  @apply absolute -right-0.5 -top-0.5 h-3 w-3 rounded-full border-2 border-background bg-destructive;
}

.with-aside {
  @apply overflow-hidden lg:overflow-auto;
}

.with-aside .backdrop {
  @apply pointer-events-auto md:opacity-100;
}

.with-aside .aside-l {
  @apply translate-x-0;
}

.with-sidebar .main {
  @apply md:-ml-0;
}

body:has(> div.with-aside) {
  @apply overflow-hidden;
}

.uk-paragraph code,
.uk-table code {
  @apply uk-codespan font-geist-mono;
}

.c {
  @apply absolute right-0 top-[13.3px] text-muted-foreground hover:text-foreground;
}

.c::before {
  content: "";
  @apply absolute inset-0 z-[1];
}

.uk-alert-warning {
  @apply border-amber-200 bg-amber-50 dark:border-amber-950 dark:bg-amber-950/50;
}
